/* Styles for NavigationBar Component */
.navbar {
    background-color: #343a40; /* Couleur de fond de la barre de navigation */
    font-family: 'Arial, sans-serif'; /* Police d'écriture */
    border-bottom: 2px solid #ff6b6b; /* Bordure en bas de la barre de navigation */

    /* Ajout d'un effet d'ombre légère */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 25px;
    height: 25px;
}

.navbar-nav {
    display: flex; /* Utiliser Flexbox pour la mise en page */
    align-items: center; /* Aligner verticalement les éléments dans la barre de navigation */
}

.nav-link {
    color: #ffffff; /* Couleur du texte */
    margin-right: 20px; /* Espacement entre les liens */
    font-size: 18px; /* Taille de la police */
    text-transform: uppercase; /* Mettre en majuscules */
    transition: color 0.3s; /* Ajouter une transition de couleur en hover */
}

.nav-link:hover {
    color: #ff6b6b; /* Couleur du texte au survol */
}
