/* Styles for Voiture Component */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.card {
    border: none;
    background-color: #343a40; /* Couleur de fond de la carte */
    color: white;
}

.card-header {
    background-color: #292b2c; /* Couleur de fond de l'en-tête de la carte */
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.form-label {
    color: white; /* Couleur du texte du label */
}

.form-control {
    background-color: #292b2c; /* Couleur de fond du champ de saisie */
    color: white; /* Couleur du texte dans le champ de saisie */
    border: 1px solid #555; /* Bordure du champ de saisie */
    margin: 10px 0;
    padding: 5px;
}

.form-control:focus {
    background-color: #343a40; /* Couleur de fond au focus */
    color: white; /* Couleur du texte au focus */
    border: 1px solid #ff6b6b; /* Bordure au focus */
}

.card-footer {
    text-align: right;
    background-color: #292b2c; /* Couleur de fond du pied de la carte */
    padding: 10px 0;
}

.btn-success,
.btn-info {
    background-color: #ff6b6b; /* Couleur de fond des boutons */
    border: none;
    font-size: 18px;
    margin-right: 10px;
    padding: 5px 10px;
}

.btn-success:hover,
.btn-info:hover {
    background-color: #e65858; /* Couleur de fond des boutons au survol */
}
